/* Précisions : 

Font : Raleway ou Barlow, a voir,

-Pour le Header :

- Mettre le header en fixed pour le scroll,
- Faire le boucing de la souris (/!\ position Absolute ne marche pas avec),
- Réajuster le background sur le header (pas bien calé),
- Mettre les effets de Hover,

-Pour le Content_Header :

-Mettre le "Discover" avec le trait des deux côté,
-Le pas oublier la photo qui s'étends sur le header et le content

-Content :

???

*/

/*----- STRUCTURE DE BASE : SITE -------------*/

a {
    text-decoration: none;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

ul,
li {
    list-style-type: none;
}

hr {
    margin: 0 160px;
}

/* SLIDER */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../images/mainoverlay.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

#slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -5;
}

#slides {
    position: relative;
    width: 500%;
    height: auto;
    padding: 0;
    background-size: cover;
    background-position: bottom;
    box-shadow: 0px 10px 65px -28px rgba(0, 0, 0, 0.75);
    animation: 30s slide infinite;
}

#slider > #slides > img {
    width: 20%;
    height: 100vh;
    float: left;
}

@keyframes slide {
    0% {
        left: 0%;
    }
    15% {
        left: 0%;
    }
    20% {
        left: -100%;
    }
    35% {
        left: -100%;
    }
    40% {
        left: -200%;
    }
    55% {
        left: -200%;
    }
    60% {
        left: -300%;
    }
    75% {
        left: -300%;
    }
    80% {
        left: -400%;
    }
    95% {
        left: -400%;
    }
    100% {
        left: 0%;
    }
}

/*---------  HEADER - NAVIGATION  -------------*/

.menu_open, .menu_close {
    display: none;
    width: 25px;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    height: 130px;
    width: 100%;
    padding: 30px 30px 0px 30px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
    z-index: 5;
}

.nav2 {
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
    padding: 5px 15px 0px 30px;
    background-color: #187adf99;
    z-index: 5;
}

nav ul {
    float: right;
    margin-right: 100px;
    margin-top: -1px;
}

nav ul li {
    text-align: right;
    margin-left: 30px;
    display: inline-block;
}

nav ul a {
    position: relative;
    color: #fff;
    font-family: "Raleway";
    font-size: 10pt;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

nav ul a:hover{
    color: #fff;
}

nav ul li:nth-child(4) {
    margin-right: 100px;
}

nav ul a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0px;
    height: 1px;
    background-color: #fff;
    transition: 300ms;
}

nav ul a:hover::after {
    width: 100%;
    left: 0;
}

.name {
    position: relative;
    display: inline-block;
    width: 180px;
    text-align: left;
    margin-left: 100px;
    color: #fff;
    font-family: 'Raleway';
    font-size: 25pt;
    line-height: 50px;
    text-decoration: none;
    transition: 0.5s;
    z-index: 5;
}

.name2 {
    width: 150px;
}

@media screen and (max-width: 1113px) {

    /*PARTIE NAVIGATION*/
    body {
        overflow-x: hidden;
    }

    .menu_open, .menu_close {
        display: block;
        position: absolute;
        top: 20px;
        left: 30px;
    }

    .menu_close {
        display: none;
    }

    nav {
        text-transform: uppercase;
        position: fixed;
        display: block;
        height: 60px;
        overflow: hidden;
        width: 100%;
        padding: 0px 0px 0px 10px;
        background-color: #187adf;
    }

    .nav2 {
        display: none;
    }

    nav ul {
        margin-left: 22px;
        float: left;
    }

    nav ul li {
        display: block;
        text-align: left;
        margin: 50px 20px -60px 0px;
    }

    nav ul li:nth-child(1) {
        margin-top: 50px;
    }

    nav ul a {
        color: #fff;
        font-family: "Raleway";
        font-size: 9pt;
        line-height: 50px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
    }

    .name {
        display: block;
        margin-top: 5px;
        width: 150px;
        font-family: 'Raleway';
        line-height: 30px;
        text-decoration: none;
        color: #fff;
        float: right;
        transition: 0.5s;
    }
}

@media screen and (max-width: 571px) {

    nav ul li:nth-child(1) {
        margin-top: -10px;
    }
}

@media screen and (max-width: 576px) {

    nav ul li:nth-child(1) {
        margin-top: -10px;
    }
}

/*---------  HEADER - TXT  -------------*/

.Content_Header {
    position: absolute;
    top: 0px;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
}

.discover {
    display: block;
    margin-top: 30vh;
    margin-bottom: 2vh;
    width: 100%;
    color: #fff;
    font-family: 'Raleway';
    font-size: 20pt;
}

.trait {
    display: inline-block;
    width: 50px;
    height: 2px;
    margin-bottom: 7px;
    background-color: #fff;
}

.header {
    height: 100vh;
    -webkit-box-shadow: 0px 10px 65px -28px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 65px -28px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 65px -28px rgba(0, 0, 0, 0.75);
}

.header_txt {
    color: #FFF;
    font-family: 'Barlow';
}

.hightitle_header {
    color: white;
    display: block;
    font-size: 6em;
    font-weight: 600;
    font-family: 'Raleway';
}

.subtitle_header {
    color: white;
    display: block;
    margin-top: 15px;
    font-size: 1.8em;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -0.5px;
}

.mouse_bounce {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.mouse_bounce img {
    position: absolute;
    bottom: 50px;
    width: 30px;
    animation: bounce 1s ease-in-out infinite;
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(5px);
    }
}

/*RETURN TOP*/

#imgup {
    width: 50px;
    transition: 1s;
}

#imgup:hover {
    width: 60px;
    animation: flow 4s ease-in-out infinite;
}

@keyframes flow {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg)
    }
    30% {
        transform: translateX(7px) translateY(7px) rotate(7deg)
    }
    60% {
        transform: translateX(7px) translateY(-7px) rotate(-7deg)
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(0deg)
    }
}

.upslide {
    z-index: 5;
    position: fixed;
    bottom: 9%;
    right: 3%;
    opacity: 0.8;
    display: none;
}

.upslide2 {
    display: block;
}

/*---------  PRES  -------------*/

.pres-size {
    position: relative;
    width: 1000px;
    height: auto;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/overlay_rond.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.pres {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pres div {
    padding: 1%;
    margin: 10px;
    display: block;
    border-radius: 10px;
}

.pres img {
    width: 150px;
    height: auto;
    padding: 30px;
    border-radius: 80px;
    border: solid 1px #FFFFFF;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 21px -2px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 10px 21px -2px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 10px 21px -2px rgba(0, 0, 0, 0.28);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pres p {
    line-height: 25px;
    color: #8492af;
    font-family: 'Raleway';
    font-size: 11pt;
    text-align: center;
}

.pres h1 {
    font-family: 'Raleway';
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 15pt;
}

.pres a {
    display: block;
    border: solid 1px #76829d;
    font-family: 'Raleway';
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 12pt;
    margin-top: 25px;
    margin-right: 80px;
    margin-left: 80px;
}

.city {
    padding: 100px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url("../images/Design_page.png");
    background-size: contain;
}

.city div {
    position: relative;
    margin: 10px;
    height: 270px;
    overflow: hidden;
}

.city div img {
    height: 100%;
    width: 100%;
}

.city div a {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    background-color: #187adf90;
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    border-top: 3px solid #fff;
    transform: translateY(67px);
    transition: 300ms ease-in-out;
}

.city div:hover a {
    transform: translateY(0px);
}

.over_img {
    color: #fff;
    font-size: 12pt;
    font-family: "Raleway";
    font-weight: 700;
}

.city div a i {
    position: absolute;
    top: 25px;
    right: 60px;
    color: #fff;
}

/* Button1 */

.button1 {
    color: #187adf;
    background-color: #fff;
    transition: 300ms ease-in-out;
}

.button1:hover {
    color: #fff;
    background-color: #187adf;
}

/* Cities */

.arras {
    background-image: url("../images/arras.png");
    background-position: top;
    background-size: cover;
}

.dublin {
    background-image: url("../images/dublin.png");
    background-position: top;
    background-size: cover;
}

.varsovie {
    background-image: url("../images/varsovie.png");
    background-position: top;
    background-size: cover;
}

/***** FOOTER ******/

.footer {
    font-family: "Raleway";
    line-height: 30px;
    color: white;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    margin: auto;
    padding: 7%;
}

.footer input {
    display: block;
    font-size: 13pt;
    margin: 3%;
    height: 50px;
    width: 300px;
}

.footer input[type="text"] {
    font-size: 20pt;
}

.footer div {
    font-size: 13pt;
    width: 100%;
    margin: auto;
}

.des {
    margin-left: 3%;
    width: 300px;
    height: 50px;
}

.submit {
    background-color: #FCFCFCFC;
    color: #187adf;
}

.footer-size {
    height: auto;
    display: block;
    background-image: url("../images/bg footerv2.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    width: 100%;
    background-color: #187ADF;
    padding-top: 30px;
    margin-top: 1px;
}

.footer_copyright {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 0.8em;
    font-family: 'Raleway';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.footer_navigation {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
}

.footer_corps ul li {
    display: inline;
}

.footer_corps ul li a {
    color: white;
    padding-left: 20px;
    font-size: 0.8em;
    font-family: 'Raleway';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.separation {
    width: 100%;
}

.city_chose {
    color: #5384ff;
    margin-right: 400px;
    margin-left: 400px;
    padding: 20px;
    font-size: 2.4em;
    font-family: 'Raleway';
    font-weight: 900;
    text-transform: uppercase;
    border: solid 2px #5384ff;
    display: block;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .city_chose {
        margin-right: 40px;
        margin-left: 40px;
    }

    .pres-size {
        width: 100%;
    }

    .pres {
        width: 100%;
    }

    .footer {
        padding: 0;
        width: 100%;
    }

    .city {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .hightitle_header {
        display: block;
        font-size: 3em;
        font-weight: 600;
        font-family: 'Raleway';
    }

    .pres-size {
        width: 100%;
    }

    .pres {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .city {
        padding: 10px;
        grid-template-columns: 1fr;
    }

    .city_chose {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 2.4em;
    }

    .footer {
        grid-template-columns: 1fr;
    }

    .footer p, h1 {
        padding: 5%;
    }

    .footer {
        margin-left: auto;
        margin-right: auto;
    }

    .footer_corps div {
        text-align: center;
        display: block;
        padding-top: 10%;
    }
}

/* CITY PAGE */

#background_city {
    width: 100%;
    height: 100%;
    background-size: cover;
}

#section1 {
    width: 100%;
    height: auto;
    padding: 340px 0 100px 0;
    box-shadow: 0px 10px 21px -2px rgba(0, 0, 0, 0.28);
    background-image: url("../images/overlay_rond.png");
    background-size: 65%;
    background-position: top;
    background-repeat: no-repeat;
}

/* Entete */

.entete {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: "Raleway";
    color: #203adc;
    width: 50%;
    height: auto;
    margin: 0 auto 100px auto;
    padding: 30px 70px 50px 70px;
    box-shadow: 0px 10px 21px -2px rgba(0, 0, 0, 0.28);
    background-color: #fff;
}

.entete h1 {
    font-size: 16pt;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.entete p {
    color: #187adf;
    font-size: 12pt;
    line-height: 22pt;
}

.entete img {
    width: 20px;
    position: absolute;
    bottom: 60px;
    right: 50px;
}

.entete img:nth-child(2) {
    width: 20px;
    position: absolute;
    top: 100px;
    left: 50px;
}

@media screen and (max-width: 900px) {

    #section1 {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    /* Entete */
    .entete {
        position: relative;
        top: 0;
        left: 0;
        transform: unset;
        display: block;
        width: auto;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .entete img {
        display: none;
    }

}

/* Events */

#events {
    color: #203adc;
    font-family: "Raleway";
    width: 1000px;
    margin: 0 auto;
}

.cube {
    background-color: #187adf;
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    margin-right: 4px;
}

#events h1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    text-transform: uppercase;
}

#events h2 {
    margin-left: 50px;
    margin-bottom: 0px;
    color: #203adc;
    text-transform: capitalize;
}

#events h3 {
    margin-left: 50px;
    margin-bottom: 0px;
    color: #000;
    text-transform: capitalize;
}

#events p {
    color: #187adf;
    margin-left: 50px;
    margin-right: 2%;
    display: inline-block;
    width: 47%;
    text-align: right;
    vertical-align: middle;
    line-height: 20pt;
    font-size: 11pt;
}

#events img {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    margin-bottom: 70px;
}

#events textarea {
    margin-top: 20px;
    margin-left: 50px;
    padding: 20px;
    width: 85.5%;
    resize: none;
    overflow-x: hidden;
}

.button2 {
    display: block;
    width: 120px;
    border: solid 1px #76829d;
    font-family: 'Raleway';
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 12pt;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 100px;
    color: #fff;
    background-color: #187adf;
    transition: 300ms ease-in-out;
}

.button2:hover {
    color: #187adf;
    background-color: #fff;
}

@media screen and (max-width: 900px) {

    /* Events */
    #events {
        width: 100%;
    }

    .cube {
        display: none;
    }

    #events h2 {
        margin-left: 10px;
    }

    #events h3 {
        margin-left: 10px;
    }

    #events p {
        display: block;
        margin: 20px 10px 20px 20px;
        width: unset;
        text-align: justify;
    }

    #events img {
        display: block;
        width: 100%;
        margin: 30px auto;
    }

    #events textarea {
        display: block;
        margin: 20px auto;
        padding: 20px;
        width: 75%;
        resize: none;
        overflow: hidden;
    }

    .button2 {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
    }

}

/*RETURN TOP*/

#imgup {
    width: 50px;
    transition: 1s;
}

#imgup:hover {
    width: 60px;
    animation: flow 4s ease-in-out infinite;
}

@keyframes flow {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg)
    }
    30% {
        transform: translateX(7px) translateY(7px) rotate(7deg)
    }
    60% {
        transform: translateX(7px) translateY(-7px) rotate(-7deg)
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(0deg)
    }
}

.upslide {
    z-index: 5;
    position: fixed;
    bottom: 15%;
    right: 3%;
    opacity: 0.8;
    display: none;
}

.upslide2 {
    display: block;
}

.error404 {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg404.jpg);
    background-size: cover;
    text-align: center;

}

.align404 {
    padding-top: 150px;
    display: block;

}

.main_title {
    display: block;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 4.3em;
    color: #FFF;
}

.second_title {
    margin-top: 15px;
    display: block;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 1.5em;
    color: #FFF;
}

.error {
    margin-top: 55px;
    display: block;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 5em;
    color: #FFF;
}

.plane {
    position: block;
    bottom: 0;
}
